



<% @events.each do | event | %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= gravatar_image_tag(event.host.email, size: 64, alt: event.host.name) %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <strong><%= event.title %></strong><br/>
          <small><%= event.location %></small><br/>
          <small><%= event.start_date_and_time %></small>
        </div>
        </div class="media-right">
          <p class="control">
            <%= link_to "Details", event, class: "button is-primary" %>
          </p>
        </div>
        <% if user_signed_in? %>
          <nav class="level">
            <div class="level-left is-mobile">
              <%= link_to event, class: "level-item" do %>
                <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
              <% end %>

              <% if event.host_id == current_user.id %>
                <%= link_to edit_event_path(event), class: "level-item" do %>
                  <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                <% end %>

                <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                <% end %>
              <% end %>

            </div>
          </nav>
        <% end %>

      </div>
    </article>
  </div>
<% end %>