<section class="section">
  <div class="columns is-centered">
    <div class="column is-three-quarters">

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">
                <p class="title"><%= @event.title %></p>
                <p class="subtitle">Hosted by <%= @event.host.name %></p>
              </article>
              <article class="tile is-child box">
                <p class="title">Location</p>
                <p class="subtitle"><%= @event.location %></p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Description</p>
                <%= @event.description %>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <div class="content">
                <p class="title">Date and Time</p>
                <%= @event.start_date_and_time %>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="content">

              <%= render 'guestlist' %>

              <div class="content">
                <%= link_to "Register", 
                            event_attendings_path(attended_event_id: @event.id, guest_id: current_user.id), 
                            method: :create, 
                            class: "button is-primary is-large" %>
              </div>
            </div>
          </article>
        </div>
      </div>

    </div>
  </div>
</section>
    
    
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>





